<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687986004457-f1857nv3j0q6ptmh1aho0kqdfc50k7hn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687986004457-f1857nv3j0q6ptmh1aho0kqdfc50k7hn</string>
	<key>API_KEY</key>
	<string>AIzaSyAArLTxFp94KEkOxz_MapGsWv0N3pkN6_0</string>
	<key>GCM_SENDER_ID</key>
	<string>687986004457</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>se.marcusthuvesen.BabySleep</string>
	<key>PROJECT_ID</key>
	<string>baby-sleep-5dcc8</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-sleep-5dcc8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687986004457:ios:b97cf60a905e7dec29fb78</string>
	<key>DATABASE_URL</key>
	<string>https://baby-sleep-5dcc8.firebaseio.com</string>
</dict>
</plist>